body {
    background-color: #008080;
    .content {
        max-width: 1024px;
        padding: 20px;
        margin: auto;

        .window600{
            max-width: 600px;
            margin: auto;
        }
    }
    .center{
        text-align: center;
        margin: auto;
    }
}