body {
    background-color: #008080;
    .content {
        max-width: 1024px;
        padding: 20px;
        margin: auto;
        .window600 {
            max-width: 600px;
            margin: 10px auto;
        }
        .window100{
            max-width: 100%;
            margin: 10px auto;
        }
        .height100{
            height: 100px;
        }
    }
    .center {
        text-align: center;
        margin: auto;
    }
    .win {
        .win-icon {
            float: left;
        }
    }
    .win-input{
        width: 100%;
    }
    .margin {
        margin: 10px 0;
    }
    strong {
        border-bottom: 1px solid #008080;
    }
    .grid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        &-element{
            width: 45%;
            &:last-child{
                max-height: 400px;
                overflow: auto;
                resize: horizontal;
                &:hover{

                }
            }
        }
    }
}