.win {
  font-family: sans-serif;
  font-size: 14px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.win-window {
  background-color: #bfbfbf;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  -webkit-box-shadow: 1px 1px 0 0 #000;
          box-shadow: 1px 1px 0 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px;
}

.win-window-content {
  padding: 20px 6px;
}

.win-window-content h1 {
  margin: 10px 0;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.win-window-content h2 {
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.win-window-content h3 {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.win-window-content h4 {
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.win-window .win-window-console {
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  white-space: pre-wrap;
  border-radius: 0;
}

.win-nav {
  padding: 2px 3px;
  height: 16px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#000080), to(#1084d0));
  background: linear-gradient(to right, #000080, #1084d0);
  font-weight: bold;
  font-size: 1.1em;
}

.win-nav-icon {
  float: left;
  width: 16px;
  margin-right: 4px;
}

.win-nav-icons {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win-nav * {
  overflow: hidden;
}

.win-icon {
  margin: 2px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  width: 32px;
  height: 32px;
}

.win-icon-button {
  font-family: Tahoma, Verdana;
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  -webkit-box-shadow: 1px 1px 0 0 #000;
          box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: none;
  width: 16px;
  font-size: 14px;
  height: 16px;
  margin: 0 1px;
  line-height: 10px;
  padding: 0px;
  cursor: pointer;
  position: relative;
}

.win-icon-button:active {
  border: 1px solid black;
}

.win-icon-button:active::after {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 1px dotted black;
}

.win-button {
  font-family: Tahoma, Verdana;
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  -webkit-box-shadow: 1px 1px 0 0 #000;
          box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: none;
  padding: 3px 7px;
  position: relative;
  cursor: pointer;
}

.win-button:active {
  border: 1px solid black;
}

.win-button:active::after {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 1px dotted black;
}

.win-disabled {
  cursor: initial;
  color: #777;
}

.win-a {
  background-color: #000080;
  color: white;
  text-decoration: none;
  padding: 2px;
}

.win-menu {
  position: relative;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  -webkit-box-shadow: 1px 1px 0 0 #000;
          box-shadow: 1px 1px 0 0 #000;
  padding: 1px;
}

.win-menu-sidebar {
  height: 100%;
  position: absolute;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000080), to(#1084d0));
  background: linear-gradient(to bottom, #000080, #1084d0);
}

.win-menu-sidebar p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: 4px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 15px;
}

.win-menu-sidebar p span {
  font-weight: bold;
}

.win-menu-list {
  margin-left: 25px;
}

.win-menu-list-item {
  padding: 10px;
  cursor: pointer;
}

.win-menu-list-item:hover {
  background-color: #000080;
  color: #fff;
}

.win-menu-list-item .win-nav-icon {
  float: left;
  margin: -4px 4px -4px 0;
  width: 24px;
}

.win-menu-list .expanding:after {
  content: '\25B6';
  float: right;
}

.win-menu-list .expanding .win-menu-sublist {
  width: 40%;
  display: none;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  -webkit-box-shadow: 1px 1px 0 0 #000;
          box-shadow: 1px 1px 0 0 #000;
  position: absolute;
  left: 100%;
  top: 0;
}

.win-menu-list .expanding .win-menu-sublist-item {
  padding: 2px;
  color: #000;
  cursor: pointer;
}

.win-menu-list .expanding .win-menu-sublist-item:hover {
  background-color: #000080;
  color: #fff;
}

.win-menu-list .expanding .win-menu-sublist-item .win-nav-icon {
  float: left;
  width: 16px;
  margin: 0 4px 0 0;
}

.win-menu-list .expanding:hover .win-menu-sublist {
  display: block;
}

.win-footer {
  width: 100vw;
  height: 30px;
  background-color: #bfbfbf;
  border-top: 1px solid #fdfdfd;
  position: fixed;
  bottom: 0;
  left: 0;
}

.win-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}

.win-select {
  position: relative;
  border: 2px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}

.win-select select {
  border: none;
  width: 100%;
}

.win-select select option:checked {
  background: #000080;
  color: white;
}

.win-select::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  -webkit-box-sizing: border-box;
  pointer-events: none;
  box-sizing: border-box;
}

.win-radio, .win-checkbox {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.7em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.win-radio input, .win-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.win-radio input:checked ~ span::after, .win-checkbox input:checked ~ span::after {
  opacity: 1;
}

.win-radio span, .win-checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: white;
  border: 2px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.win-radio span::after, .win-checkbox span::after {
  content: '';
  height: 0.5em;
  width: 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #252525;
  -webkit-transform: translateX(25%) translateY(25%);
          transform: translateX(25%) translateY(25%);
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.win-radio span {
  border-radius: 50%;
}

.win-radio span::after {
  border-radius: 50%;
}

.win-fieldset {
  border: 2px groove;
  padding: 5px;
}

.win-fieldset legend {
  margin-left: 1em;
}

.win ::-webkit-scrollbar {
  width: 14px;
}

.win ::-webkit-scrollbar-track {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 2px 2px;
}

.win ::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  -webkit-box-shadow: 2px 2px #dfdfdf inset, -2px -2px #808080 inset;
          box-shadow: 2px 2px #dfdfdf inset, -2px -2px #808080 inset;
}

.win ::-webkit-scrollbar-button {
  width: 14px;
  height: 14px;
  background-color: #bfbfbf;
  -webkit-box-shadow: 2px 2px #dfdfdf inset, -2px -2px #808080 inset;
          box-shadow: 2px 2px #dfdfdf inset, -2px -2px #808080 inset;
}
/*# sourceMappingURL=win98.css.map */