.win {
    font-family: sans-serif;
    font-size: 14px;
    &-window {
        background-color: #bfbfbf;
        border-top-color: #dfdfdf;
        border-left-color: #dfdfdf;
        border-right-color: #808080;
        border-bottom-color: #808080;
        box-shadow: 1px 1px 0 0 #000;
        display: flex;
        clear: both;
        flex-direction: column;
        padding: 2px;
        &-content {
            padding: 20px 6px;
            @for $i from 1 through 4 {
                h#{$i} {
                    margin: 10px 0;
                    font-size: 1.5em - $i/10;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        .win {
            &-window-console {
                background-color: #000;
                font-family: 'Courier New', Courier, monospace;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                padding: 5px;
                white-space: pre-wrap;
                border-radius: 0;
            }
        }
    }
    &-nav {
        padding: 2px 3px;
        height: 16px;
        color: #fff;
        background: -webkit-linear-gradient(left, #000080, #1084d0);
        background: linear-gradient(to right, #000080, #1084d0);
        font-weight: bold;
        font-size: 1.1em;
        &-icon {
            float: left;
            width: 16px;
            margin-right: 4px;
        }
        &-icons {
            float: right;
            display: flex;
        }
        * {
            overflow: hidden;
        }
    }
    &-icon {
        margin: 2px;
        image-rendering: pixelated;
        width: 32px;
        height: 32px;
        &-button {
            font-family: Tahoma, Verdana;
            color: #070707;
            background: #bfbfbf;
            border: 1px solid;
            border-top-color: #dfdfdf;
            border-left-color: #dfdfdf;
            border-right-color: #808080;
            border-bottom-color: #808080;
            box-shadow: 1px 1px 0 0 #000;
            text-align: center;
            outline: none;
            width: 16px;
            font-size: 14px;
            height: 16px;
            margin: 0 1px;
            line-height: 10px;
            padding: 0px;
            cursor: pointer;
            position: relative;
            &:active {
                border: 1px solid black;
                &::after {
                    content: '';
                    position: absolute;
                    box-sizing: border-box;
                    width: 90%;
                    height: 90%;
                    left: 5%;
                    top: 5%;
                    border: 1px dotted black;
                }
            }
        }
    }
    &-button {
        font-family: Tahoma, Verdana;
        color: #070707;
        background: #bfbfbf;
        border: 1px solid;
        border-top-color: #dfdfdf;
        border-left-color: #dfdfdf;
        border-right-color: #808080;
        border-bottom-color: #808080;
        box-shadow: 1px 1px 0 0 #000;
        text-align: center;
        outline: none;
        padding: 3px 7px;
        position: relative;
        cursor: pointer;
        &:active {
            border: 1px solid black;
            &::after {
                content: '';
                position: absolute;
                box-sizing: border-box;
                width: 90%;
                height: 90%;
                left: 5%;
                top: 5%;
                border: 1px dotted black;
            }
        }
    }
    &-disabled {
        cursor: initial;
        color: #777;
    }
    &-a {
        background-color: #000080;
        color: white;
        text-decoration: none;
        padding: 2px;
    }
    &-menu {
        position: relative;
        background: #bfbfbf;
        border: 1px solid;
        border-top-color: #dfdfdf;
        border-left-color: #dfdfdf;
        border-right-color: #808080;
        border-bottom-color: #808080;
        box-shadow: 1px 1px 0 0 #000;
        padding: 1px;
        &-sidebar {
            height: 100%;
            position: absolute;
            width: 25px;
            background: -webkit-linear-gradient(top, #000080, #1084d0);
            background: linear-gradient(to bottom, #000080, #1084d0);
            p {
                writing-mode: vertical-lr;
                display: flex;
                width: 100%;
                transform: rotate(180deg);
                position: absolute;
                bottom: 4px;
                height: 100%;
                align-items: center;
                color: white;
                font-size: 15px;
                span {
                    font-weight: bold;
                }
            }
        }
        &-list {
            margin-left: 25px;
            &-item {
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background-color: #000080;
                    color: #fff;
                }
                .win-nav-icon {
                    float: left;
                    margin: -4px 4px -4px 0;
                    width: 24px;
                }
            }
            .expanding {
                &:after {
                    content: '\25B6';
                    float: right;
                }
                .win-menu-sublist {
                    width: 40%;
                    display: none;
                    background: #bfbfbf;
                    border: 1px solid;
                    border-top-color: #dfdfdf;
                    border-left-color: #dfdfdf;
                    border-right-color: #808080;
                    border-bottom-color: #808080;
                    box-shadow: 1px 1px 0 0 #000;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    &-item {
                        padding: 2px;
                        color: #000;
                        cursor: pointer;
                        &:hover {
                            background-color: #000080;
                            color: #fff;
                        }
                        .win-nav-icon{
                            float: left;
                            width: 16px;
                            margin: 0 4px 0 0;
                        }
                    }
                }
                &:hover {
                    .win-menu-sublist {
                        display: block;
                    }
                }
            }
        }
    }
    &-footer {
        width: 100vw;
        height: 30px;
        background-color: #bfbfbf;
        border-top: 1px solid #fdfdfd;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    &-input{
        border: 2px solid;
        border-top-color: #808080;
        border-left-color: #808080;
        border-right-color: #dfdfdf;
        border-bottom-color: #dfdfdf;
    }
    // &-select{
    //     position: relative;
    //     border: 2px solid;
    //     border-top-color: #808080;
    //     border-left-color: #808080;
    //     border-right-color: #dfdfdf;
    //     border-bottom-color: #dfdfdf;
    // }
    ::-webkit-scrollbar {
        width: 14px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
        background-size: 2px 2px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        box-shadow: 2px 2px #dfdfdf inset, -2px -2px #808080 inset;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-button {
        width: 14px;
        height: 14px;
        background-color: #bfbfbf;
        box-shadow: 2px 2px #dfdfdf inset, -2px -2px #808080 inset;
    }

}